@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply text-text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='radio'] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 4px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  /* background-color: #e7e6e7; */
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type='radio']:checked {
  @apply bg-primary-light border-2 border-primary-light;
}

/* Secondary Button */
.btn.secondary {
  @apply border-2 border-primary rounded-lg w-fit min-w-44 p-1 text-primary-dark;
}

input[type='file'] {
  @apply absolute left-0 top-0 w-full h-full opacity-0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  @apply w-[10px];
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-md
  /* background: ; */
  /* border-radius: 5px; */;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-dark;
}
